<!DOCTYPE html>

<html ng-app="app">
  <head>
    <title>IYYF CalcSheet</title>

    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="stylesheets/iyyf.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="TabCtrl as tabCtrl">
    <div class="container">
      <div id="topbar">
        <div class="row">
          <div class="col-8">
            <nav class="navbar">
              <ul>
                <li ng-repeat="tab in tabCtrl.tabs" ng-class="{active:tabCtrl.isActiveTab(tab.url)}" ng-click="tabCtrl.onClickTab(tab)">
                  <a href="#">{{tab.title}}</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-4">
          </div>
        </div>
      </div>

      <div id="main" ng-controller="MainCtrl as main">
        <div ng-include="tabCtrl.currentTab"></div>
        <script type="text/ng-template" id="set-up.html" src="set-up.html">
          <div id="tab-set-up" class="row" ng-controller="SetUpCtrl as setUp">
            <div class="col-6">
              <table>
                <thead>
                  <tr></tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Contest Name</td>
                    <td class="bg-judge"><input type="text" placeholder="Your Contest Name" ng-model="setUp.contest.name"></td>
                  </tr>

                  <tr>
                    <td>Division Name</td>
                    <td class="bg-judge"><input type="text" placeholder="Your Division Name" ng-model="setUp.contest.divisionName"></td>
                    <td>Division</td>
                  </tr>

                  <tr>
                    <td>Contest Date</td>
                    <td class="bg-judge"><input type="date" placeholder="Your Contest Date" ng-model="setUp.contest.date"></td>
                  </tr>
          
                  <tr></tr>
          
                  <tr>
                    <th colspan="2">Clicker Judges</th>
                  </tr>
          
                  <tr ng-repeat="judge in setUp.contest.clickerJudges">
                    <td>J-A{{$index + 1}}</td>
                    <td class="bg-judge"><input type="text" placeholder="Judge Name" ng-model="judge.name" ng-blur="setUp.contest.checkClickerJudges()"></td>
                  </tr>

                  <tr ng-show="setUp.contest.clickerJudges.length < 6">
                    <td>J-A{{setUp.contest.clickerJudges.length + 1}}</td>
                    <td class="bg-judge"><input type="text" placeholder="Judge Name" ng-model="setUp.contest.newClickerJudge.name" ng-blur="setUp.contest.checkClickerJudges()" ng-keypress="setUp.contest.addNewClickerJudge($event)"></td>
                  </tr>
          
                  <tr></tr>
          
                  <tr>
                    <th colspan="2">Evaluation Judges</th>
                  </tr>
          
                  <tr ng-repeat="judge in setUp.contest.evaluationJudges">
                    <td>J-B{{$index + 1}}</td>
                    <td class="bg-judge"><input type="text" placeholder="Judge Name" ng-model="judge.name" ng-blur="setUp.contest.checkEvaluationJudges()"></td>
                  </tr>

                  <tr ng-show="setUp.contest.evaluationJudges.length < 6">
                    <td>J-B{{setUp.contest.evaluationJudges.length + 1}}</td>
                    <td class="bg-judge"><input type="text" placeholder="Judge Name" ng-model="setUp.contest.newEvaluationJudge.name" ng-blur="setUp.contest.checkEvaluationJudges()" ng-keypress="setUp.contest.addNewEvaluationJudge($event)"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          
            <div class="col-6">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Full Name</th>
                    <th>Name</th>
                    <th>Points</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Clicker Value</td>
                    <td class="bg-point"><input type="text" ng-model="setUp.contest.clickerValue.name"></td>
                    <td class="bg-point"><input type="text" ng-model="setUp.contest.clickerValue.abbr"></td>
                    <td class="bg-point"><input class="text-right" ng-model="setUp.contest.clickerValue.point"></td>
                  </tr>
          
                  <tr></tr>
          
                  <tr>
                    <th colspan="4">T.Ev</th>
                  </tr>
                  <tr ng-repeat="given in setUp.contest.givenTevValues">
                    <td>Given Value {{$index + 1}}</td>
                    <td class="bg-point"><input type="text" ng-model="given.name" ng-blur="setUp.contest.checkGivenTevValues()"></td>
                    <td class="bg-point"><input type="text" ng-model="given.abbr" ng-blur="setUp.contest.checkGivenTevValues()"></td>
                    <td class="bg-point"><input class="text-right" ng-model="given.point" ng-blur="setUp.contest.checkGivenTevValues()"></td>
                  </tr>

                  <tr ng-show="setUp.contest.givenTevValues.length < 5">
                    <td>Given Value {{setUp.contest.givenTevValues.length + 1}}</td>
                    <td class="bg-point"><input type="text" ng-model="setUp.contest.newGivenTevValue.name" ng-blur="setUp.contest.checkGivenTevValues()" ng-keypress="setUp.contest.addNewTevValue($event)"></td>
                    <td class="bg-point"><input type="text" ng-model="setUp.contest.newGivenTevValue.abbr" ng-blur="setUp.contest.checkGivenTevValues()" ng-keypress="setUp.contest.addNewTevValue($event)"></td>
                    <td class="bg-point"><input class="text-right" ng-model="setUp.contest.newGivenTevValue.point" ng-blur="setUp.contest.checkGivenTevValues()" ng-keypress="setUp.contest.addNewTevValue($event)"></td>
                  </tr>

                  <tr></tr>

                  <tr>
                    <th colspan="4">P.Ev</th>
                  </tr>
                  <tr ng-repeat="given in setUp.contest.givenPevValues">
                    <td>Given Value {{$index + 1}}</td>
                    <td class="bg-point"><input type="text" ng-model="given.name" ng-blur="setUp.contest.checkGivenPevValues()"></td>
                    <td class="bg-point"><input type="text" ng-model="given.abbr" ng-blur="setUp.contest.checkGivenPevValues()"></td>
                    <td class="bg-point"><input class="text-right" ng-model="given.point" ng-blur="setUp.contest.checkGivenPevValues()"></td>
                  </tr>

                  <tr ng-show="setUp.contest.givenPevValues.length < 5">
                    <td>Given Value {{setUp.contest.givenPevValues.length + 1}}</td>
                    <td class="bg-point"><input type="text" ng-model="setUp.contest.newGivenPevValue.name" ng-blur="setUp.contest.checkGivenPevValues()" ng-keypress="setUp.contest.addNewPevValue($event)"></td>
                    <td class="bg-point"><input type="text" ng-model="setUp.contest.newGivenPevValue.abbr" ng-blur="setUp.contest.checkGivenPevValues()" ng-keypress="setUp.contest.addNewPevValue($event)"></td>
                    <td class="bg-point"><input class="text-right" ng-model="setUp.contest.newGivenPevValue.point" ng-blur="setUp.contest.checkGivenPevValues()" ng-keypress="setUp.contest.addNewPevValue($event)"></td>
                  </tr>
          
                  <tr></tr>
          
                  <tr>
                    <td>Total</td>
                    <td colspan="3"><input class="text-right" value="{{setUp.contest.pointTotal}}"></td>
                  </tr>
          
                  <tr></tr>
          
                  <tr ng-repeat="deduction in setUp.contest.deductionValues">
                    <td>Deduction {{$index + 1}}</td>
                    <td class="bg-point" colspan="2"><input type="text" ng-model="deduction.name"></td>
                    <td class="bg-point"><input class="text-right" ng-model="deduction.point"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </script>
        
        <script type="text/ng-template" id="player.html">
          <div id="tab-player" class="row" ng-controller="PlayerCtrl as playerCtrl">
            <div class="col-4">
              <table>
                <thead>
                  <tr>
                    <th class="bg-header"></th>
                    <th class="bg-header">Player Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="player in playerCtrl.player.players">
                    <td>{{$index + 1}}</td>
                    <td><input type="text" ng-model="player.name" ng-blur="playerCtrl.player.checkPlayers()"></td>
                  </tr>

                  <tr>
                    <td>{{playerCtrl.player.players.length + 1}}</td>
                    <td><input type="text" placeholder="Player Name" ng-model="playerCtrl.player.newPlayer.name" ng-blur="playerCtrl.player.checkPlayers()" ng-keypress="playerCtrl.player.addNewPlayer($event)"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </script>

        <script type="text/ng-template" id="raw-tex.html">
          <div id="tab-raw-tex" class="row" ng-controller="RawTexCtrl as texCtrl">
            <table>
              <thead>
                <tr>
                  <th class="bg-byline"></th>
                  <th class="bg-byline"></th>
                  <th class="bg-byline">AD1</th>
                  <th class="bg-byline">AD2</th>
                  <th class="bg-byline">AD3</th>
                  <th class="bg-byline" colspan="2" ng-repeat="judge in texCtrl.contest.clickerJudges">{{judge.name}}</th>
                </tr>
                <tr>
                  <th class="bg-header"></th>
                  <th class="bg-header">Player Name</th>
                  <th ng-repeat="deduction in texCtrl.contest.deductionValues" class="bg-header">{{deduction.name}}</th>
                  <th ng-repeat-start="i in [1, 2, 3, 4, 5, 6]" class="bg-header">+</th>
                  <th ng-repeat-end class="bg-header">-</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in texCtrl.player.players">
                  <td class="bg-byline">{{$index + 1}}</td>
                  <td class="bg-byline">{{player.name}}</td>
                  <td ng-repeat="deduction in texCtrl.contest.deductionValues">
                    <input class="text-right" ng-model="player.deductions[deduction.name]">
                  </td>
                  <td ng-repeat-start="judge in texCtrl.contest.clickerJudges">
                    <input class="text-right" ng-model="player.clicker[judge.name].plus" ng-blur="texCtrl.player.getRawTexTotal(player, judge)">
                  </td>
                  <td ng-repeat-end>
                    <input class="text-right" ng-model="player.clicker[judge.name].minus" ng-blur="texCtrl.player.getRawTexTotal(player, judge)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </script>

        <script type="text/ng-template" id="raw-tevpev.html">
          <div id="tab-raw-tevpev" class="row" ng-controller="RawTevPevCtrl as tevPevCtrl">
            <table>
              <thead>
                <tr>
                  <th class="bg-byline"></th>
                  <th class="bg-byline"></th>
                  <th class="bg-byline" colspan="8" ng-repeat="judge in tevPevCtrl.contest.evaluationJudges">{{judge.name}}</th>
                </tr>
                <tr>
                  <th class="bg-header"></th>
                  <th class="bg-header">Player Name</th>

                  <th class="th-for" ng-repeat-start="i in [1, 2, 3, 4, 5, 6]"></th>
                  <th class="bg-header" ng-repeat="tev in tevPevCtrl.contest.givenTevValues">{{tev.abbr}}</th>
                  <th class="bg-header" ng-repeat="pev in tevPevCtrl.contest.givenPevValues">{{pev.abbr}}</th>
                  <th class="th-end" ng-repeat-end></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in tevPevCtrl.player.players">
                  <td class="bg-byline">{{$index + 1}}</td>
                  <td class="bg-byline">{{player.name}}</td>

                  <td class="td-for" ng-repeat-start="judge in tevPevCtrl.contest.evaluationJudges"></td>
                  <td ng-repeat="tev in tevPevCtrl.contest.givenTevValues">
                    <input type="text" maxlength="2" ng-model="player.givens[judge.name][tev.abbr]" ng-blur="tevPevCtrl.player.getAvgGiven(player, tev.abbr)">
                  </td>
                  <td ng-repeat="pev in tevPevCtrl.contest.givenPevValues">
                    <input type="text" maxlength="2" ng-model="player.givens[judge.name][pev.abbr]" ng-blur="tevPevCtrl.player.getAvgGiven(player, pev.abbr)">
                  </td>
                  <td class="td-end" ng-repeat-end></td>
                </tr>
              </tbody>
            </table>
          </div>
        </script>

        <script type="text/ng-template" id="result.html">
          <div id="tab-result" class="row" ng-controller="ResultCtrl as resultCtrl">
            {{resultCtrl.player.players[0]}}
            <div class="col-12">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>{{resultCtrl.contest.contestName}} ({{resultCtrl.contest.contestDate}})</th>
                    <th class="bg-tex">{{resultCtrl.contest.clickerValue.abbr}}</th>
                    <th class="bg-tev" colspan="5">T.Ev</th>
                    <th class="bg-pev" colspan="5">P.Ev</th>
                    <th class="bg-total"></th>
                    <th class="bg-md" colspan="3">M. Deduction</th>
                    <th class="bg-total"></th>
                    <th></th>
                  </tr>
          
                  <tr>
                    <th></th>
                    <th>{{resultCtrl.contest.divisionName}} Division</th>
                    <th class="bg-tex">total (/{{resultCtrl.contest.clickerValue.point}})</th>
                    <th class="bg-tev" ng-repeat="given in resultCtrl.contest.givenTevValues">{{given.name}}</th>
                    <th class="bg-tev">total (/{{resultCtrl.contest.tevSum()}})</th>
                    <th class="bg-pev" ng-repeat="given in resultCtrl.contest.givenPevValues">{{given.name}}</th>
                    <th class="bg-pev">total (/{{resultCtrl.contest.pevSum()}})</th>
                    <th class="bg-total">E.Total (/{{resultCtrl.contest.pointSum()}})</th>
                    <th class="bg-md" ng-repeat="deduction in resultCtrl.contest.deductionValues">{{deduction.name}}</th>
                    <th class="bg-total">FINAL SCORE</th>
                    <th>Place</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="player in resultCtrl.player.players">
                    <td>{{$index + 1}}</td>
                    <td>{{player.name}}</td>
                    <td></td>
                    <td ng-repeat="tev in resultCtrl.contest.givenTevValues">{{player.avgGivens[tev.abbr] | number:2}}</td>
                    <td>{{resultCtrl.avgGivenTevSum(player) | number:2}}</td>
                    <td ng-repeat="pev in resultCtrl.contest.givenPevValues">{{player.avgGivens[pev.abbr] | number:2}}</td>
                    <td>{{resultCtrl.avgGivenPevSum(player) | number:2}}</td>
                    <td></td>
                    <td class="text-minus" ng-repeat="deduction in resultCtrl.contest.deductionValues">
                      {{resultCtrl.deductionSum(player, deduction)}}
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </script>
      </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>