table {
  width: 100%;
}

tr {
  height: 1.414em;
}

th, td {
  border: 1px solid #eee;
  padding: 0 3px;
  input {
    border: none;
    line-height: 1.414em;
    width: 100%;
    &[type=number] {
      text-align: right;
    }
  }
}

#tab-player {
  th, td {
    &:first-child {
      width: 12px;
      text-align: right;
    }
  }
}

#tab-tex,
#tab-tevpev {
  th, td {
    &:first-child {
      width: 12px;
      text-align: right;
    }
    &:nth-child(2) {
      width: 150px;
    } 
  }
  input {
    text-align: right;
  }
}

#tab-tevpev {
  table {
    width: 1800px;
  }
}