table {
  width: 100%;
  table-layout: fixed;
}

tr {
  height: 1.414em;
}

th, td {
  border: 1px solid #eee;
  padding: 0 3px;
  input {
    border: none;
    line-height: 1.414em;
    width: 100%;
    &[type=number] {
      text-align: right;
    }
  }
}

#tab-set-up {
  table {
    th, td {
      &:first-child {
        width: 100px;
      }
    }
  }
}

#tab-player {
  table {
    width: auto;
  }
  th, td {
    &:first-child {
      width: 12px;
      text-align: right;
    }
  }
}

#tab-player,
#tab-raw-tex,
#tab-raw-tevpev,
#tab-result {
  th, td {
    &:first-child {
      width: 12px;
      text-align: right;
    }
    &:nth-child(2),
    &:nth-child(2) input {
      width: 160px;
      text-align: left;
    } 
  }
  input {
    text-align: right;
  }
}

#tab-raw-tevpev {
  tr:last-child th {
    word-break: break-all;
    line-height: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

#tab-result {
  th {
    word-wrap: break-word;
  }
  td {
    text-align: right;
    &:last-child {
      text-align: center;
    }
  }
}