table {
  width: 100%;
}

tr {
  height: 1.414em;
}

th, td {
  border: 1px solid #eee;
  padding: 0 3px;
  input {
    border: none;
    line-height: 1.414em;
    width: 100%;
    &[type=number] {
      text-align: right;
    }
  }
}

.bg-judge {
  background-color: $color-judge;
  input::-webkit-input-placeholder {
    color: lightgray;
  }
}

.bg-point {
  background-color: $color-point;
  input::-webkit-input-placeholder {
    color: darkgray;
  }
}

.bg-header {
  background-color: $color-header;
  color: white;
}

.bg-byline {
  background-color: $color-byline;
  color: lightgray;
}

.text-right {
  text-align: right;
}

#tab-player {
  th, td {
    &:first-child {
      width: 12px;
      text-align: right;
    }
  }
}

#tab-tex {
  th, td {
    &:first-child {
      width: 12px;
      text-align: right;
    }
    &:nth-child(2) {
      width: 150px;
    } 
  }
}