$gutter: 15px;
$container-width: 1140px;
$column-width: $container-width / 12 - $gutter;

$color-judge: #00b0f4;
$color-point: #ffdc5a;
$color-header: #000000;
$color-byline: #808080;
$color-tex: #cfc7ff;
$color-tev: #ff86ca;
$color-pev: #91cbff;
$color-total: #ffce00;
$color-md: #ff86ca;

