.container {
  width: 1140px;
  margin: 0 auto; }

.row {
  margin-left: -5px; }
  .row:after {
    content: '';
    clear: both;
    display: table; }

.col-1 {
  width: 85px;
  margin-right: 10px;
  float: left; }

.col-2 {
  width: 180px;
  margin-right: 10px;
  float: left; }

.col-3 {
  width: 275px;
  margin-right: 10px;
  float: left; }

.col-4 {
  width: 370px;
  margin-right: 10px;
  float: left; }

.col-5 {
  width: 465px;
  margin-right: 10px;
  float: left; }

.col-6 {
  width: 560px;
  margin-right: 10px;
  float: left; }

.col-7 {
  width: 655px;
  margin-right: 10px;
  float: left; }

.col-8 {
  width: 750px;
  margin-right: 10px;
  float: left; }

.col-9 {
  width: 845px;
  margin-right: 10px;
  float: left; }

.col-10 {
  width: 940px;
  margin-right: 10px;
  float: left; }

.col-11 {
  width: 1035px;
  margin-right: 10px;
  float: left; }

.col-12 {
  width: 1130px;
  margin-right: 10px;
  float: left; }

table {
  width: 100%; }

tr {
  height: 1.414em; }

td {
  border: 1px solid #eee;
  padding: 0 3px; }
  td input {
    border: none;
    line-height: 1.414em;
    width: 100%; }
    td input[type=number] {
      text-align: right; }

td.title {
  font-weight: bold;
  text-align: center; }

td.bg-judge {
  background-color: #00b0f4; }
  td.bg-judge input::-webkit-input-placeholder {
    color: lightgray; }

td.bg-point {
  background-color: #ffdc5a; }
  td.bg-point input::-webkit-input-placeholder {
    color: darkgray; }

input {
  background-color: transparent; }

body {
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif; }
